<div style="background-color: #112940; min-height: 1000px;">
<div class="container">
<div class="contact-header">
	<h1><strong>Contact Us</strong></h1>
	<h3 style=" text-align: left; padding-left: 25px;"><span class="icon fa-phone-square" style="font-size: 25px;"></span><span style="padding-left: 25px;">401) 207-4560</span></h2>
	<h3 style=" text-align: left; padding-left: 25px;"><span class="icon fa-envelope-o" style="font-size: 25px; text-align: left;"></span><span style="padding-left: 20px;">RekowskiPaulT@gmail.com</span></h2>
	<h3 style="border-bottom: 1px solid white; padding-bottom: 20px;"></h2>
	<h3 style="text-align: left; padding-left: 25px; padding-top: 20px;">Mailing Address:</h2>
	<h3></h3>
	<h4 style="text-align: left; padding-left: 25px;">Home Metrics</h2>
	<h4 style="text-align: left; padding-left: 25px;">c/o Paul Rekowski</h2>
	<h4 style="text-align: left; padding-left: 25px;">547 Main Street</h2>
	<h4 style="text-align: left; padding-left: 25px;">Hopkinton, RI 02833</h2>
</div>
</div>