

<div id="header-featured"> </div>
<div id="banner-wrapper">
	<div id="banner" class="container">
		<h1>Looking For Affordable Duct or Blower Door Testing in RI or CT?</h1>
		<p style="border-bottom: 1px solid white; "></p>
		<h3>We service all of <strong>Rhode Island and Eastern Connecticut</strong> and provide comprehensive duct, blower door and combustion appliance zone testing for homeowners and contractors at an affordable price. Whether you are a prospective homeowner looking to evaluate the condition of a house you are about to purchase, or a contractor that requires a blower door test for a Certificate of Occupancy.</h3>
		<h3>Give us a call at <strong>(401) 207-4560</strong> or email to <strong>RekowskiPaulT@gmail.com</strong> to schedule an appointment or to request a quote.</h3>
	</div>
</div>
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="container">
			<div class="column1">
				<div class="title">
					<h2><%= image_tag("/BPIsingle.png", height: '150') %></h2>
				</div>
				<p style="color: white;">Building Performance Institute (BPI&reg) is the most recognized authority for certification of building performance professionals in the United States. You can review our credentials by visiting: <%= link_to("BPI Pro Site", "http://bpi.org/individual_locator.aspx") %> and accessing the Pro site.</p>
			</div>
			<div class="column2">
				<div class="title">
					<h2><%= image_tag("/DET.jpg", height: '150') %></h2>
				</div>
				<p style="color: white;">Home Energy Partners&reg provides training that parallels that of BPI&reg in regard to duct and envelope testing. We hold a certification as a Duct & Envelope Tightness Verification Technician as well.</p>
			</div>
		</div>
	</div>

